# Środowisko wirtualne
venv/
ENV/
.env/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# Pliki Pythona do ignorowania
__pycache__/
*.pyc
*.pyo
*.pyd

# Pliki IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Systemowe
.DS_Store
Thumbs.db