# Środowisko wirtualne
venv/
ENV/
.env/

# Pliki Pythona do ignorowania
__pycache__/
*.pyc
*.pyo
*.pyd

# Pliki IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Systemowe
.DS_Store
Thumbs.db